.navigation{
      margin: 30px 0 10px 45px;
}

/*.navigation__link{*/
/*    margin-left: 30px;*/
/*    font-weight: 400;*/
/*    font-size: 17px;*/
/*    line-height: 22px;*/
/*    text-align: center;*/
/*    letter-spacing: -0.408px;*/
/*    !*text-decoration-line: underline;*!*/
/*    color: #FFFFFF;*/
/*}*/
.link{
    margin-left: 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    text-decoration-line: none;
    color: #FFFFFF;
}
.link-active{
    margin-left: 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    text-decoration-line: underline;
    color: #FFFFFF;

}