.app-wrapper{
    position: relative;
    width: 1440px;
    height: 820px;
    background: #1F2223;
    border-radius: 30px;
    font-family: "Gotham Pro";
}

.app{
    position: absolute;
    width: 1354px;
    height: 730px;
    left: 43px;
    top: 43px;
    background: #000000;
    border-radius: 28px;
}